{% extends "layout.twig" %}

{% block contenido %}
    <h2>Listado Entradas</h2>
    <p>
        <a class="btn btn-primary" href="{{ 'admin/entradas/crear' | url }}">Nueva Entrada</a>
    </p>
    {% if errores %}
        {% include('partials/errores.twig') %}
    {% endif %}
    {% if result %}
        <div class="alert alert-success">Entrada Eliminada</div>
    {% endif %}
    {% if entradasBlog is not empty %}
        <table class="table">
            <tr>
                <th>Titulo</th>
                <th></th>
                <th></th>
            </tr>
            {% for entrada in entradasBlog %}
                <tr>
                    <td>{{ entrada.titulo }}</td>
                    <td><a href="{{ 'admin/entradas/editar/' | url }}{{ entrada.id }}">Editar</a></td>
                    <td><a href="{{ 'admin/entradas/borrar/' | url }}{{ entrada.id }}">Borrar</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No hay entrada para mostrar</p>
    {% endif %}
{% endblock %}
