{% extends "layout.twig" %}

{% block contenido %}
    <h2>Listado Usuarios</h2>
    <p>
        <a class="btn btn-primary" href="{{ 'admin/usuarios/crear' | url }}">Nuevo Usuario</a>
    </p>
    {% if usuarios is not empty %}
        <table class="table">
            <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th></th>
                <th></th>
            </tr>
            {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.nombre }}</td>
                    <td>{{ usuario.email }}</td>
                    <td><a href="{{ 'admin/usuarios/editar/' | url }}{{ usuario.id }}">Editar</a></td>
                    <td><a href="{{ 'admin/usuarios/borrar/' | url }}{{ usuario.id }}">Borrar</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No hay usuarios para mostrar</p>
    {% endif %}
{% endblock %}
