{% extends "layout.twig" %}

{% block contenido %}
    <h2>Inicio</h2>
    {% for entrada in entradasBlog %}
        <div class="blog-post">
            <h2><a href="{{ 'detalle/' | url }}{{ entrada.id }}">{{ entrada.titulo }}</a></h2>
            <p>{{ entrada.created_at }} por <a href="#">Admin</a></p>
            <div class="blog-post-image">
                {% if entrada.imagen %}
                    <img src="{{ entrada.imagen }}" alt="EntradaBlog">
                {% endif %}
            </div>
        </div>
    {% endfor %}

    {% if paginador.anterior %}
        <a class="btn btn-default" href="{{ '' | url }}{{ paginador.anterior }}">Anterior</a>
    {% endif %}
    {% if paginador.siguiente %}
        <a class="btn btn-default" href="{{ '' | url }}{{ paginador.siguiente }}">Siguiente</a>
    {% endif %}
{% endblock %}
